this file is created to note down things i have learned in Tuple

In [2]:
myTuple = (1,2,3,"orange","Bishal", 0.999)
print(myTuple)

(1, 2, 3, 'orange', 'Bishal', 0.999)

accessing tuple items

In [6]:
print(myTuple[-1])
print(myTuple[1:])
print(myTuple[:6])
print(myTuple[-1:])
print(myTuple[:-1])

0.999
(2, 3, 'orange', 'Bishal', 0.999)
(1, 2, 3, 'orange', 'Bishal', 0.999)
(0.999,)
(1, 2, 3, 'orange', 'Bishal')

tuple length

In [12]:
# myTuple = ("apple", "orange", "banana", 1, 2, 3)
print(len(myTuple))

6

In [19]:
tup = ("Bishal")
print(tup)
print(type(tup))

Bishal
<class 'str'>

unpacking a tuple

In [30]:
fruits = (1,2,1,3,1,4,1,5,1,6,1,7,1,8,1,9)
# (red, green, blue) = fruits
print(red)
print(green)
print(blue)

apple
mango
grapes

unpacking usinf asterisk

In [46]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

tuples method

In [33]:
print(fruits.count(1))
print(fruits.index(8))

8
13

joining and multiplying tuples

In [36]:
tup1 = (1, 2, 3, 4, 5)
tup2 = ("a","s","d","f","g")
tup3 = tup1 + tup2
tup4 = tup1 * 2
tup5 = tup2 * 2
print(tup3)
print(tup4)
print(tup5)

(1, 2, 3, 4, 5, 'a', 's', 'd', 'f', 'g')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('a', 's', 'd', 'f', 'g', 'a', 's', 'd', 'f', 'g')

Check if Item Exists

In [37]:
myTuple = ("apple", "orange", "banana", 1, 2, 3)
if "apple" in myTuple:
    print("Yes, there is apple in the", myTuple)

Yes, there is apple in the ('apple', 'orange', 'banana', 1, 2, 3)

add, remove and update items in tuple

In [45]:
# adding
myTuple = ("apple", "orange", "banana", 1, 2, 3)
myList = list(myTuple)
myList.append("mango")
myTuple = tuple(myList)
print(myTuple)

# removing
myList.remove("apple")
myTuple = tuple(myList)
print(myTuple)

# update
myList[1] = ("mango")
myTuple = tuple(myList)
print(myTuple)

('apple', 'orange', 'banana', 1, 2, 3, 'mango')
('orange', 'banana', 1, 2, 3, 'mango')
('orange', 'mango', 1, 2, 3, 'mango')