String is the data type which takes the alphabets as a input

string concatenation and aruthmetic string operation

In [ ]:
print("hello" + " " + "world!!!")  #it is the concatenation to join two or more strings
print("hi" * 5) # we can multiply strings with numbers

hello world!!!
hihihihihi

logical operation

In [ ]:
"hello" or "world"

'hello'

In [6]:
"hello" and "world"

'world'

for loop in the string

In [38]:
i = 0
for i in "water":
    print("hi\n\t\t")

hi

hi

hi

hi

hi

membership operation

In [ ]:
"B" in "Bishal" #check if character exists in the string or not

True

STRING METHODS
len
max
min
sorted

In [ ]:
s = "welcome to home"
len(s) #find length of the string

15

In [ ]:
s = "welcome to home"
max(s) #find the largest character by ascii value

'w'

In [ ]:
s = "welcometohome"
min(s) #find the smallest character by ascii value

'c'

In [ ]:
s = "welcometohome"
sorted(s, reverse = True)  #sorted in descending order

['w', 't', 'o', 'o', 'o', 'm', 'm', 'l', 'h', 'e', 'e', 'e', 'c']

string functions:

capitalize
title
upper
lower
swapcase

In [ ]:
s = "welcome to home"
s.capitalize() #make the first letter capital

'Welcome to home'

In [ ]:
s = "welcome to home"
s.title() #make every first letter of every word capital

'Welcome To Home'

In [ ]:
s = "welcome to home"
s.upper() #turn to uppercase

'WELCOME TO HOME'

In [ ]:
s = "WELCOME TO HOME"
s.lower() #turn to lowercase

'welcome to home'

In [ ]:
s = "welcome to home"
s.swapcase() #turn uppercase to lowercase and vice versa

'WELCOME TO HOME'

STRING FUNCTIONS:

count
find
index
endswith
startwith

In [ ]:
n = "My name is Bishal"
n.count("s") # count thhe repeatation of certain character in the strings

2

In [ ]:
n = "My name is Bishal"
n.find("B") #find the index of the certain character

11

In [ ]:
n = "My name is Bishal"
n.index("y") #tell the index of the certain character

1

In [40]:
n = "My name is Bishal"
n.endswith("al")

True

In [41]:
n = "My name is Bishal"
n.startswith("My")

True

Format function

In [ ]:
name = "Bishal"
gender = "male"

s = ("my name is {1}, and i am a {0}")
s.format(gender,name) #gender index is 0 and name index is 1 


# m = "Welcome {} to the Facebook"
# m.format(name)

'my name is Bishal, and i am a male'

ADVANCE PYTHON STRING FUNCTIONS:

isalnum
isalpha
isdigit
isidentifier

In [ ]:
i = "bishal123"
i.isalnum() #check if data is alphanumeric

True

In [ ]:
i = "bishal123"
i.isalpha()#check if data is alphabetic

False

In [ ]:
i = "bishal123"
i.isdigit()#check if data is number

False

In [ ]:
i = "bishal123"
i.isidentifier()#check if data is identifier

True

split 
join

In [ ]:
d = "my name is Bishal"
d.split() #it divide every words in the sentence

['my', 'name', 'is', 'Bishal']

In [61]:
d = ['my','name','is','Bishal']
i = " "
i.join(d) #its joint the divided strings into sentence

'my name is Bishal'

functions of the strings:

replace
strip

In [ ]:
z = "My name is Bishal"
z.replace("Bishal", "Sharad") #replace any word with another word

'My name is Sharad'

In [14]:
# z = "My name is Bishal            "
# len(z)
# z.strip()  #remove the unwanted spaces 

s = "Data Science"
print(s.strip())

Data Science

f-string in the Python

In [67]:
name = "Bishal"
gender = "Male"

print(f"My name is {name}, and I am a {gender}")

My name is Bishal, and I am a Male

Exercise of the String

find the length of the string without using len()

In [6]:
name = "Bishal Bista"
count = 0
for i in name:
    count += 1
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12

extract username from the email

In [9]:
email = "bishalbista@gmail.com"

e = email.split("@")

print(e[0])

bishalbista

to check if the number is palindrome or not

In [13]:
name = input("Enter the string")
name1 = (name[::-1])

if name == name1:
    print("This string is palindrome")
else:
    print("This string is not palindrome")

This string is palindrome