In [ ]:
s = lambda a: a**2
s(4)

16

In [11]:
# Create a lambda function to find the cube of a number.
cube = lambda x: x**3

cube(5)

125

In [8]:
# Use lambda with map() to triple all numbers in a list.
L = [1,2,3,4,5,6,7,8,9,0]
times3 = list(map(lambda x: 3 * x,L))
print(times3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 0]

In [ ]:
# Sort the following list of tuples by the last character of each name:

names = [("Alice", 25), ("Bob", 30), ("Charlie", 20)]

# Sort by score
names.sort(key=lambda x: x[1])

print(names)

[('Charlie', 20), ('Alice', 25), ('Bob', 30)]

In [3]:
# Filter out names that start with the letter 'A' using lambda and filter.

name = ["Bishal","asmita","ankit","asmit"]

filtered = list(filter(lambda x : x[0] =="a", name))

upper_case = list(map(lambda x: x.capitalize(),filtered))
print(upper_case)

['Asmita', 'Ankit', 'Asmit']