1. Simple Return
Write a function add_numbers(a, b) that returns the sum of two numbers.

In [1]:
def add_numbers(a,b):
    return a + b

add_numbers(156,144)

300

2. Default Arguments
Write a function greet(name="User") that prints "Hello, [name]!".

In [3]:
def greet(name = "User"):
    return f"Hello, [{name}]!"

greet()

'Hello, [User]!'

3. Keyword Arguments
Write a function describe_pet(animal_type, pet_name) and call it using keyword arguments

In [4]:
def describe_pet(animal_type = "Dog", pet_name = "Musu"):
    return f"This is {animal_type} and it's name is {pet_name}"

print(describe_pet(animal_type="Cat", pet_name="J"))

This is Cat and it's name is J

4. Sum using args
Write a function sum_all(*numbers) that returns the sum of all numbers passed

In [5]:
def sum_all(*numbers):
    print("The list of numbers is:",numbers)
    
    total = sum(numbers)
    return f"The sum of all numbers in the list is {total}"

print(sum_all(1,2,3,4,5))

The list of numbers is: (1, 2, 3, 4, 5)
The sum of all numbers in the list is 15

**5. Student Info using kwargs
Write a function student_info(**details) that prints each key and value in the format: "key: value".

In [9]:
def student_info(**details):
    print("Profile Info:")
    for key, value in details.items():
        print(f"{key} = {value}")

student_info(Name = "Bishal Bista", Age = 22, Address = "Lalitpur", Profession = "Student", Hobby= "Football")

Profile Info:
Name = Bishal Bista
Age = 22
Address = Lalitpur
Profession = Student
Hobby = Football

6. Correct Call
Write a function book(title, author) and call it correctly using both positional and keyword arguments.

In [ ]:
def book(title, author):
    return f"Book = {title} is Written By = {author}"

book(title = "Harry Potter", author = "J.K Rowlings")
book("Harry Potter", "J.K Rowlings")

'Book = Harry Potter is Written By = J.K Rowlings'

7. Local vs Global
Create a variable name = "World", then inside a function change it to "Python", and print both inside and outside.

In [34]:
name = "World"

def func():
    global name
    name = "Python"
    
print("Hello!",name)
func()
print("Hello!", name)

Hello! World
Hello! Python

8. Nested Function Practice
Write a function outer(x) that defines an inner(y) function which returns x + y. outer(10) should return a function which adds 10 to any number.

In [48]:
def outer(x):
    def inner(y):
        return x + y
    return inner

sum_10 = outer(10)

print(sum_10(20))

30

9. Type Hints
Write a function multiply(a: int, b: int) -> int that multiplies two integers.

In [49]:
def multiply(a:int, b:int) -> int:
    return a * b

multiply(3,5)

15

10. Recursion
Write a function factorial(n) using recursion.

In [50]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

print(factorial(5))

120

11. Lambda
Write a lambda function to square a number.

In [64]:
square = lambda x: x**2
square(5)
print(f"The square of the number is:{square(5)}")

The square of the number is:25

12. Simple Decorator
Create a decorator that prints "Function is running" before running any function.

In [ ]:
def func(og_func):
    def wrap():
        og_func()
        print("This is after og")
    return wrap

@func
def display():
    print("Function is running")
    
display()

Function is running
This is after og

13. Higher-Order Function
Write a function operate(func, a, b) that takes another function func and two numbers a and b, and applies func(a, b).

In [69]:
def operate(func, a, b):
    return func(a,b)


def add(x,y):
    return x + y

def sub(x, y):
    return x - y

def divide(x, y):
    return x / y

def multiply(x, y):
    return x * y

def modulus(x, y):
    return x % y
def float_division(x, y):
    return x // y

print(operate(add, 5, 3))  
print(operate(sub, 5, 3))  
print(operate(divide, 5, 3))  
print(operate(multiply, 5, 3))  
print(operate(modulus, 5, 3))  
print(operate(float_division, 5, 3))

8
2
1.6666666666666667
15
2
1

write a function that takes list and return a new list with unique elements of the first list
list = [1,2,3,3,3,4,5,5,5,5]
new list = [1,2,3,4,5]

In [1]:
def unique_items(l):
    results = []
    for i in l:
        if i not in results:
            results.append(i)
    return results

l = [1,2,3,3,3,4,5,5,5,]
out = unique_items(l)
print(out)

[1, 2, 3, 4, 5]

write a function that accept hyphen-separated sequence of words as a parameter and return the words as hyphen-separated sequence after sorting them alphabetically

input:
green-red-yellow-black-white

output:
black-green-red-white-yellow

In [24]:
def hyphen_sequence():
    color = ['green','red','yellow','black', 'white']
    
    color.sort()
    
    joined_color = "-".join(color)
    
    print("Input:", "-".join(['green','red','yellow','black', 'white']))
    
    print("Output:", joined_color)

hyphen_sequence()

Input: green-red-yellow-black-white
Output: black-green-red-white-yellow

A Dictionary contains following information of 5 employees
-first name
-last name
-age
-grade(skilled, semi-skilled, highly skilled)
Write a program using map, filter and reduce to a list of employees (first name + last name) who are highly skilled

In [32]:
employees =[
    {
    "fname": "Bishal", "lname": 'Bista',"age" : 22,"grade": "skilled"
    },
    
    {
    "fname": "Sajan","lname": 'Bista',"age" : 20,"grade": "semi-skilled"
    },
    
    {
    "fname": "John","lname": 'Cena',"age" : 21,"grade": "highly-skilled"
    },
    
    {
    "fname": "Randy","lname": 'Orton',"age" : 22,"grade": "highly-skilled"
    },
    
    {
    "fname": "Roman","lname": 'Reign',"age" : 20,"grade": "skilled"
    }
]


list(filter(lambda x:True if x["grade"] == "highly-skilled" else False, employees))

l = [
        {'fname': 'John', 'lname': 'Cena', 'age': 21, 'grade': 'highly-skilled'},
        {'fname': 'Randy', 'lname': 'Orton', 'age': 22, 'grade': 'highly-skilled'}
    ]

list(map(lambda x: x["fname"] + " " + x["lname"], l))

['John Cena', 'Randy Orton']